.boardColumn {
  display: flex;
  flex-direction: column;
  min-width: 16rem;
}

.columnHeader {
  display: flex;
  align-items: center;
}

.columnHeaderLight {
  display: flex;
  align-items: center;
}

.columnHeaderLight div {
  color: var(--fg-primary-light);
}

.columnHeaderLight button {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  background: transparent;
  color: var(--fg-secondary-light);
}

.columnHeaderLight button:hover {
  background: transparent;
  color: var(--bg-secondary-dark);
}

.columnStatus {
  flex-grow: 1;
}

.columnStatus:hover {
  cursor: grab;
}

.deleteButton {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  background: transparent;
  color: var(--fg-secondary-dark);
}

.deleteButton:hover {
  background: transparent;
  color: var(--fg-primary-dark);
}
