.taskCard {
  background-color: var(--bg-secondary-dark);
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid transparent;
}

.taskCard:hover {
  cursor: pointer;
  border: 1px solid white;
}

.subtasks {
  margin: 0;
  font-size: 0.8rem;
  color: var(--fg-secondary-dark);
}
