.taskCard {
  background-color: var(--bg-secondary-dark);
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
}

.taskCardLight {
  background-color: var(--bg-primary-light);
  color: var(--tertiary);
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
}

.taskCard:hover {
  cursor: pointer;
  border: 1px solid white;
}

.taskCardLight:hover {
  cursor: pointer;
  border: 1px solid var(--tertiary);
}

.taskCardContent {
  display: flex;
  flex-direction: column;
}

.dragHandle {
  transform: rotate(90deg);
}

.dragHandle:hover {
  cursor: grab;
}

.subtasks {
  margin: 0;
  font-size: 0.8rem;
  color: var(--fg-secondary-dark);
}

.subtasksLight {
  margin: 0;
  font-size: 0.8rem;
  color: var(--fg-secondary-light);
}
