.boardIcon {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  margin: 1em 0;
}

.boardIconCreate {
  filter: invert(31%) sepia(14%) saturate(6916%) hue-rotate(240deg)
    brightness(84%) contrast(87%);
  width: 20px;
  height: 20px;
  margin: 1em 0;
}

.boardTab {
  display: flex;
  align-items: center;
  width: 80%;
  height: 3em;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 2em;
  overflow: hidden;
  flex-shrink: 0;
}

.boardTab:hover {
  cursor: pointer;
  background-color: var(--accent-secondary);
  color: var(--fg-primary-dark);
}

.boardTab span {
  margin: 0 1em;
}

.boardTabSelected {
  background-color: var(--accent);
  color: var(--fg-primary-dark);
}

.boardTabCreate {
  display: flex;
  align-items: center;
  width: 80%;
  height: 3em;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 2em;
  color: var(--accent);
}

.boardTabCreate:hover {
  cursor: pointer;
  background-color: var(--fg-primary-dark);
}

.boardTabCreate:hover .formTextInput {
  background-color: var(--fg-primary-dark);
}

.boardTabCreate .formTextInput:focus {
  outline: none;
  border: none;
}

.boardTabCreate span {
  margin: 0 1em;
}

.formSubmit {
  display: none;
}

.formTextInput {
  background-color: var(--bg-secondary-dark);
  color: var(--accent);
  border-style: none;
  transition: background-color 0.2s ease;
  margin-left: 1em;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  width: calc(100% - 4em - 20px);
}
