.boardIcon {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  margin: 1em 0;
}

.boardTab {
  display: flex;
  align-items: center;
  width: 80%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 2em;
  transition: 0.2s ease;
}

.boardTab:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--fg-primary-dark);
}

.boardTab span {
  margin: 0 1em;
}
