.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mainSectionContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--bg-primary-dark);
  height: 100%;
  overflow: hidden;
}
